@using GroceryDeliverySystem.Models;
@model List<Products>

@{
    List<Categories> Ctg = ViewBag.Categories;
    Stores store = ViewBag.Store;
    string categoryName = ViewBag.CategoryName;
}

<head>
    <style>
        .toast {
            position: fixed;
            bottom: 60px;
            right: 20px;
            min-width: 200px;
            background: rgba(127, 173, 57, 0.8);
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>

<div id="toast" class="toast" style="display: none;">
    <div class="toast-body">
        Item added to cart successfully!
    </div>
</div>

<div class="container mt-4">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 rounded">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Store/@store.id/">@store.name</a></li>
            <li class="breadcrumb-item active" aria-current="page">@categoryName</li>
        </ol>
    </nav>

    <div class="row">
        <!-- Sidebar with categories -->
        <div class="col-md-3">
            <div class="sidemenu__categories">
                <div class="sidemenu__categories__title">
                    <span>All Categories</span>
                </div>
                <ul>
                    @foreach (var ctg in Ctg)
                    {
                        <li><a href="/Store/@store.id/@ctg.id/">@ctg.name <span style="color:gray;">(@ctg.Products.Count)</span></a></li>
                    }
                </ul>
            </div>
        </div>

        <!-- Products -->
        <div class="col-md-9">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                @foreach (var prd in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100 shadow-sm rounded">
                            @if (!string.IsNullOrEmpty(prd.imageURL))
                            {
                                <img class="card-img-top" src="@prd.imageURL" alt="..." />
                            }
                            else
                            {
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            }
                            <div class="p-4">
                                <div class="text-center">
                                    <h6>@prd.name</h6>
                                    <div class="card-body">
                                        <h6 class="fw-bold text-center mb-3">@prd.price TL</h6>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" data-prdID="@prd.id" class="btn toggle-button addCart">+</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Shared/js/jquery-3.7.1.min.js"></script>
    <script>
        $(".addCart").click(
            function () {
                var productID = $(this).attr("data-prdID");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Cart/AddToCart/",
                        data: { productID: productID },
                        success: function (response) {
                            if (response.success) {
                                $("#toast").fadeIn().delay(1000).fadeOut();
                                updateCartDropdown();
                            }
                            else if (response.notAuth) {
                                window.location.href = "@Url.Action("Login", "Home")";
                            }
                            else {
                                alert(response.message);
                            }
                        }
                    }
                )
            }
        );
    </script>
}
