@using GroceryDeliverySystem.Models;
@using System.Linq;

@model List<CartItems>

@{
    Users user = ViewBag.User;
    List<Cities> cities = ViewBag.Cities;
    decimal totalPrice = Model.Sum(item => item.price);
    var currentUrl = Request.Url.AbsolutePath;
    var isCartPage = currentUrl.Contains("/Cart");
}

<!DOCTYPE html>
<head>
    <style>
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 400px; /* Adjust width as needed */
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 10px; /* Add padding for spacing */
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .button {
            display: block;
            text-align: center;
            background-color: #3e8e41;
            color: white;
            padding: 10px 0;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
        }

            .button:hover {
                background-color: #357b36;
            }

        .dropdown-content2 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content2 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content2 a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content2 {
            display: block;
        }

        .shopping-cart-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ddd; /* Optional: Add a border between items */
            margin-bottom: 10px; /* Add space between items */
        }

            .shopping-cart-item img {
                width: 80px; /* Adjust image size */
                height: auto;
                margin-right: 15px; /* Add more spacing between image and text */
            }

        .item-details {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr; /* Three columns: name, price, buttons */
            align-items: center;
            width: 100%;
            gap: 10px;
        }

        .item-name {
            font-weight: bold; /* Optionally bold item name */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* Limit to 3 lines */
            overflow: hidden;
        }

        .item-price {
            text-align: right; /* Align price to the right */
            white-space: nowrap; /* Prevent wrapping */
        }

        .quantity-controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

            .quantity-controls button {
                background-color: #3e8e41;
                color: white;
                border: none;
                padding: 5px;
                cursor: pointer;
                font-size: 16px;
            }

                .quantity-controls button:hover {
                    background-color: #357b36;
                }

            .quantity-controls span {
                margin: 0 10px;
                font-size: 16px;
                font-weight: bold;
            }

        .total-price {
            margin-top: 10px;
            font-weight: bold;
            padding: 10px;
            background-color: #f1f1f1;
        }

        .badge {
            padding-left: 9px;
            padding-right: 9px;
        }

        #lblCartCount {
            font-size: 12px;
            background: #3e8e41;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
        }
    </style>
</head>

<div>
    <button class="btn btn-outline-dark dropbtn me-2">
        <i class="bi-geo-alt-fill me-1"></i>
        @if (cities.FirstOrDefault(x => x.id == user.cityID) != null)
        {
            @cities.FirstOrDefault(x => x.id == user.cityID).name
        }
        else
        {
            <text>Select a city</text>
        }
    </button>
</div>

@if (!isCartPage)
{
    <div class="dropdown">
        <form class="d-flex me-2" action="/Cart/Index/" method="get">
            <button class="btn btn-outline-dark dropbtn" href="/Cart/Index/">
                <i class="bi-cart-fill"></i>
                <span class="badge text-white" id='lblCartCount'>@Model.Count</span>
                Cart
                <i class="bi-chevron-down ms-1"></i>
            </button>
        </form>
        <div class="dropdown-content">
            @foreach (var item in Model)
            {
                <div class="shopping-cart-item clearfix">
                    @if (!string.IsNullOrEmpty(item.Products.imageURL))
                    {
                        <img class="card-img-top" src="@item.Products.imageURL" alt="..." />
                    }
                    else
                    {
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    }
                    <div class="item-details">
                        <span class="item-name">@item.Products.name</span>
                        <span class="item-price">@item.price TL</span>
                        <div class="quantity-controls">
                            <button type="button" class="qbutton" data-itemID="@item.id" data-action="reduce">-</button>
                            <span id="quantity-@item.id" class="quantity">@item.quantity</span>
                            <button type="button" class="qbutton" data-itemID="@item.id" data-action="add">+</button>
                        </div>
                    </div>
                </div>
            }
            <div class="total-price">Total: @totalPrice TL</div>
            <a href="/Cart/Checkout/" class="button">Checkout</a>
        </div>
    </div>
}

<div class="dropdown">
    <button class="btn btn-outline-dark dropbtn">
        <i class="bi-person-circle me-1"></i>
        Hello, @user.firstName
        <i class="bi-chevron-down ms-1"></i>
    </button>
    <div class="dropdown-content2">
        <a href="/Account/Settings/">Account Settings</a>
        <a href="/Account/Orders/">Past Orders</a>
        @if (User.IsInRole("A"))
        {
            <a href="/Panel/Users/">Admin Panel</a>
        }
        else if (User.IsInRole("S"))
        {
            <a href="/Panel/Stores/">Manager Panel</a>
        }
        <a href="/Home/Logout/">Sign Out</a>
    </div>
</div>
