@using GroceryDeliverySystem.Models;
@using System.Linq;

@model List<CartItems>

@{
    Users user = ViewBag.User;
    List<Cities> cities = ViewBag.Cities;
    decimal totalPrice = Model.Sum(item => item.price);
    var currentUrl = Request.Url.AbsolutePath;
    var isCartPage = currentUrl.Contains("/Cart");
}

<head>
    <style>
        .dropbtn {
            background-color: white;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 410px; /* Adjust width as needed */
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 10px; /* Add padding for spacing */
            border-radius: 10px;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #7fad39;
        }

        .button {
            display: block;
            text-align: center;
            background-color: #7fad39;
            color: white;
            padding: 10px 0;
            border-radius: 5px;
            margin-right: 10px;
            width: 150px;
        }

            .button:hover {
                background-color: #357b36;
            }

        .dropdown-content2 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            border-radius: 10px;
        }

            .dropdown-content2 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content2 a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content2 {
            display: block;
        }

        .shopping-cart-item {
            display: flex;
            align-items: center;
            padding: 12px;
            border-bottom: 1px solid #ddd; /* Optional: Add a border between items */
        }

            .shopping-cart-item img {
                width: 80px; /* Adjust image size */
                height: auto;
                margin-right: 15px; /* Add more spacing between image and text */
            }

        .item-details {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr; /* Three columns: name, price, buttons */
            align-items: center;
            width: 100%;
            gap: 10px;
        }

        .item-name {
            font-weight: bold; /* Optionally bold item name */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* Limit to 3 lines */
            overflow: hidden;
        }

        .item-price {
            text-align: right; /* Align price to the right */
            white-space: nowrap; /* Prevent wrapping */
        }

        .quantity-controls {
            display: flex;
            align-items: center;
            border: 1px solid #7fad39;
            border-radius: 8px;
        }

            .quantity-controls button, .quantity-controls span {
                padding: 5px 10px;
                font-size: 16px;
                margin: 0;
                border: none;
            }

            .quantity-controls button {
                background-color: #7fad39;
                color: white;
                cursor: pointer;
            }

            .quantity-controls span {
                background-color: white;
                color: black;
                font-weight: bold;
                text-align: center;
                width: 35px;
                border-left: 1px solid #7fad39;
                border-right: 1px solid #7fad39;
            }

            .quantity-controls button:first-child {
                border-radius: 5px 0 0 5px;
            }

            .quantity-controls button:last-child {
                border-radius: 0 5px 5px 0;
            }

            .quantity-controls button:hover {
                background-color: #357b36;
            }

        .total-checkout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f1f1f1;
            padding: 10px; /* Add padding for spacing */
            margin-top: 10px;
        }

            .total-checkout a:hover {
                background-color: #357b36;
            }

        .total-price {
            margin-left: 20px; /* Shift total price to the right */
        }

        .badge {
            padding-left: 9px;
            padding-right: 9px;
        }

        #lblCartCount {
            font-size: 12px;
            background: #7fad39;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
        }
    </style>
</head>

<div class="modal fade" id="cityUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change City & Address</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/Account/UpdateAddress/" method="post" id="form">
                    <input type="hidden" class="form-control" value="@user.id" name="userID" id="userID" />

                    <label>Address (Optional)</label>
                    <textarea class="form-control" name="address" id="address" rows="3" cols="50" placeholder="Enter address">@user.address</textarea>

                    <label>City</label>
                    <select class="form-select" name="cityID" id="cityID">
                        <option value="null" selected>Select a city</option>
                        @foreach (var city in cities)
                        {
                            <option value="@city.id" @(city.id == user.cityID ? "selected" : "")>@city.name</option>
                        }
                    </select>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary orderUpd" form="form">Update</button>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-outline-dark dropbtn me-2" data-bs-toggle="modal" data-bs-target="#cityUpdate">
        <i class="bi-geo-alt-fill me-1"></i>
        @if (cities.FirstOrDefault(x => x.id == user.cityID) != null)
        {
            @cities.FirstOrDefault(x => x.id == user.cityID).name
        }
        else
        {
            <text>Select a city</text>
        }
    </button>
</div>

@if (!isCartPage)
{
    <div class="dropdown">
        <form class="d-flex me-2" action="/Cart/Index/" method="get">
            <button class="btn btn-outline-dark dropbtn" href="/Cart/Index/">
                <i class="bi-cart-fill"></i>
                <span class="badge text-white" id='lblCartCount'>@Model.Count</span>
                Cart
                <i class="bi-chevron-down ms-1"></i>
            </button>
        </form>
        <div class="dropdown-content">
            @if (Model.Any() == false)
            {
                <p class="mt-3 ms-2">Your cart is empty.</p>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="shopping-cart-item clearfix">
                        @if (!string.IsNullOrEmpty(item.Products.imageURL))
                        {
                            <img class="card-img-top" src="@item.Products.imageURL" alt="..." />
                        }
                        else
                        {
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        }
                        <div class="item-details">
                            <span class="item-name">@item.Products.name</span>
                            <span class="item-price">@item.price TL</span>
                            <div class="quantity-controls">
                                <button type="button" class="qbutton" data-itemID="@item.id" data-action="reduce">-</button>
                                <span id="quantity-@item.id" class="quantity">@item.quantity</span>
                                <button type="button" class="qbutton" data-itemID="@item.id" data-action="add">+</button>
                            </div>
                        </div>
                    </div>
                }
                <div class="total-checkout">
                    <span class="total-price"><strong>Total:</strong> @totalPrice TL</span>
                    <a href="/Cart/Checkout/" class="button">Checkout</a>
                </div>
            }
        </div>
    </div>
}

<div class="dropdown">
    <button class="btn btn-outline-dark dropbtn">
        <i class="bi-person-circle me-1"></i>
        Hello, @user.firstName
        <i class="bi-chevron-down ms-1"></i>
    </button>
    <div class="dropdown-content2">
        <a href="/Account/Settings/">Account Settings</a>
        <a href="/Account/Orders/">Past Orders</a>
        @if (User.IsInRole("A"))
        {
            <a href="/Panel/Users/">Admin Panel</a>
        }
        else if (User.IsInRole("S"))
        {
            <a href="/Panel/Stores/">Manager Panel</a>
        }
        <a href="/Home/Logout/">Sign Out</a>
    </div>
</div>
