@using GroceryDeliverySystem.Models
@model List<Couriers>

@{
    ViewBag.Title = "Couriers";
}

@section head {
    <style>
        .error {
            color: red;
        }
    </style>
}

@section body {
    <!-- The Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Courier</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="message"></p>
                    <p class="error"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger courDel">Delete</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Courier</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Panel/AddCourier/" method="post" id="form1">
                        <input type="hidden" class="form-control" value="0" name="isActive" id="isActive1" />

                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name1" placeholder="Enter name" required />

                        <label for="phone">Phone number</label>
                        <input type="tel" class="form-control" name="phone" id="phone" pattern="\(\d{3}\)-\d{3}-\d{4}" placeholder="(123)-456-7890" required />
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary courAdd" form="form1">Add</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Courier</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Panel/AddCourier/" method="post" id="form2">
                        <input type="hidden" class="form-control" name="id" id="id" />
                        <input type="hidden" class="form-control" name="isActive" id="isActive2" />

                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="name2" placeholder="Enter name" required />

                        <label for="phone">Phone number</label>
                        <input type="tel" class="form-control phone-upd" name="phone" id="phone" pattern="\(\d{3}\)-\d{3}-\d{4}" placeholder="(123)-456-7890" required />
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary courUpd" form="form2">Update</button>
                </div>

            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light p-3 rounded">
            <li class="breadcrumb-item"><a>Management Panel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Couriers</li>
        </ol>
    </nav>
    <div class="row">
        @Html.Partial("_Sidemenu")
        <div class="col-lg-9">
            <h2>Courier Details</h2>
            @if (User.IsInRole("A"))
            {
                <div>
                    <a class="btn btn-success rounded-2" data-bs-toggle="modal" data-bs-target="#addModal"> Add New Courier </a>
                </div>
            }
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Phone </th>
                            @if (User.IsInRole("A"))
                            {
                                <th> Delete </th>
                                <th> Update </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Couriers d in Model)
                        {
                            <tr>
                                <td> @d.id </td>
                                <td> @d.name </td>
                                <td> @d.phone </td>
                                @if (User.IsInRole("A"))
                                {
                                    <td> <a class="btn btn-danger delModal" data-dpID="@d.id" data-name="@d.name" data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete </a> </td>
                                    <td> <a class="btn btn-info updCour" data-dpID="@d.id" data-name="@d.name" data-phone="@d.phone" data-isActive="@d.isActive" data-bs-toggle="modal" data-bs-target="#updateModal"> Update </a> </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Shared/js/jquery-3.7.1.min.js"></script>
    <script>
        $(".delModal").click(
            function () {
                var id = $(this).attr("data-dpID");
                var name = $(this).attr("data-name");
                $(".modal-body > p.message").html("Should the courier<strong> " + name + " </strong>with the ID<strong> " + id + " </strong>get deleted?");
                $(".courDel").data("dpID", id);
            }
        );

        $(".courDel").click(
            function () {
                var id = $(this).data("dpID");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Panel/DeleteCourier/" + id,
                        success: function (result) {
                            if (result == "successful") {
                                window.location.replace("/Panel/Couriers/");
                            }
                            else {
                                $(".modal-body > p.error").html("An error occurred");
                            }
                        }
                    }
                )
            }
        );

        $(".updCour").click(
            function () {
                var id = $(this).attr("data-dpID");
                var name = $(this).attr("data-name");
                var phone = $(this).attr("data-phone");
                var status = $(this).attr("data-status");
                var isActive = $(this).attr("data-isActive");

                $(".modal-body #id").val(id);
                $(".modal-body #name2").val(name);
                $(".modal-body .phone-upd").val(phone);
                $(".modal-body #status2").val(status);
                $(".modal-body #isActive2").val(isActive);
            }
        );

        document.addEventListener('DOMContentLoaded', function () {
            const phoneInput = document.getElementById('phone2');

            phoneInput.addEventListener('input', function () {
                let input = phoneInput.value.replace(/\D/g, ''); // Remove non-digit characters
                if (input.length > 6) {
                    input = `(${input.slice(0, 3)})-${input.slice(3, 6)}-${input.slice(6, 10)}`;
                } else if (input.length > 3) {
                    input = `(${input.slice(0, 3)})-${input.slice(3)}`;
                } else if (input.length > 0) {
                    input = `(${input}`;
                }
                phoneInput.value = input;
            });
        });

    </script>
}

