@using GroceryDeliverySystem.Models
@model List<Orders>

@{
    ViewBag.Title = "Orders";
}

@section head {
    <style>
        .error {
            color: red;
        }
    </style>
}

@section body {
    <!-- The Modal -->
    <div class="modal modal-lg fade" id="detailsModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="orderDetailsBody">
                    <!-- Order details will be dynamically loaded here -->
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Order</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="message"></p>
                    <p class="error"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger orderDel">Delete</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change Status</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Panel/ChangeStatus/" method="post" id="form2">
                        <input type="hidden" class="form-control" name="id" id="id" />

                        <label>Status</label>
                        <input type="text" class="form-control" name="status" id="status2" placeholder="Enter status" required />
                    </form>
                    <p class="message"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary orderUpd" form="form2">Update</button>
                </div>

            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <div class="row">
        <div style="width:20%;">
            <div class="sidemenu__categories">
                <div class="sidemenu__categories__title">
                    <span>Management Panel</span>
                </div>
                <ul>
                    @if (User.IsInRole("A"))
                    {
                        <li><a href="/Panel/Users/">Users</a></li>
                        <li><a href="/Panel/Cities/">Cities</a></li>
                    }
                    <li><a href="/Panel/Stores/">Stores</a></li>
                    <li><a href="/Panel/Categories/">Categories</a></li>
                    <li><a href="/Panel/Products/">Products</a></li>
                    <li><a href="/Panel/Orders/">Orders</a></li>
                    <li><a href="/Panel/Couriers/">Couriers</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>Order Details</h2>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Date </th>
                            <th> Status </th>
                            <th> Courier </th>
                            <th> Store </th>
                            <th> Total Price </th>
                            <th> Details </th>
                            <th> Delete </th>
                            <th> Change Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderByDescending(o => o.date))
                        {
                            <tr>
                                <td> @item.id  </td>
                                <td> @item.date </td>
                                <td> @item.status </td>
                                <td> @item.Drivers.name </td>
                                <td> @item.Stores.name </td>
                                <td> @item.totalPrice </td>
                                <td> <a class="btn btn-info detOrder" data-orID="@item.id" data-bs-toggle="modal" data-bs-target="#detailsModal"> Details </a> </td>
                                <td> <a class="btn btn-danger delModal" data-orID="@item.id" data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete </a> </td>
                                <td> <a class="btn btn-warning updOrder" data-orID="@item.id" data-status="@item.status" data-bs-toggle="modal" data-bs-target="#updateModal"> Change </a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Shared/js/jquery-3.7.1.min.js"></script>
    <script>
        $('.detOrder').click(function () {
            var orderID = $(this).attr('data-orID');

            $.ajax({
                url: '/Account/GetOrderItems/',
                type: 'GET',
                data: { orderID: orderID },
                success: function (result) {
                    $('#orderDetailsBody').html(result);
                    $('#detailsModal').modal('show');
                }
            });
        });

        $(".delModal").click(
            function () {
                var id = $(this).attr("data-orID");
                $(".modal-body > p.message").html("Should the order with the ID<strong> " + id + " </strong>get deleted?");
                $(".orderDel").data("orID", id);
            }
        );

        $(".orderDel").click(
            function () {
                var id = $(this).data("orID");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Panel/DeleteOrder/" + id,
                        success: function (result) {
                            if (result == "successful") {
                                window.location.replace("/Panel/Orders/");
                            }
                            else {
                                $(".modal-body > p.error").html("An error occurred");
                            }
                        }
                    }
                )
            }
        );

        $(".updOrder").click(
            function () {
                var id = $(this).attr("data-orID");
                var status = $(this).attr("data-status");

                $(".modal-body #id").val(id);
                $(".modal-body #status2").val(status);
            }
        );
    </script>
}