@using GroceryDeliverySystem.Models
@model List<Users>

@section head {
    <style>
        .error {
            color: red;
        }
    </style>
}

@section body {
    <!-- The Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="message"></p>
                    <p class="error"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger userDel">Delete</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Panel/AddUser/" method="post" id="form1">
                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>First name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName1" placeholder="Enter first name" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName1" placeholder="Enter last name" required />
                                </div>
                            </div>
                        </div>

                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" id="email1" placeholder="example@email.com" required />

                        <label for="phone">Phone number (Optional)</label>
                        <input type="tel" class="form-control" name="phone" id="phone" pattern="\(\d{3}\)-\d{3}-\d{4}" placeholder="(123)-456-7890" />

                        <label>Password (4 to 20 characters)</label>
                        <input type="password" class="form-control" name="password" id="password1" pattern=".{4,20}" required />

                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Address (Optional)</label>
                                    <input type="text" class="form-control" name="address" id="address1" placeholder="Enter address" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>City ID (Optional)</label>
                                    <input type="number" class="form-control" name="cityID" id="cityID1" placeholder="Enter city ID" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" class="form-control" name="cartID" id="cartID1" />

                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Roles (Optional)</label>
                                    <input type="text" class="form-control" name="roles" id="roles1" placeholder="Enter roles" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Managed Store (Optional)</label>
                                    <input type="number" class="form-control" name="managedStore" id="managedStore1" placeholder="Enter managed store" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary userAdd" form="form1">Add</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/Panel/AddUser/" method="post" id="form2">
                        <input type="hidden" class="form-control" name="id" id="id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>First name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName2" placeholder="Enter first name" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName2" placeholder="Enter last name" required />
                                </div>
                            </div>
                        </div>

                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" id="email2" placeholder="example@email.com" required />

                        <label for="phone">Phone number (Optional)</label>
                        <input type="tel" class="form-control phone-upd" name="phone" id="phone2" pattern="\(\d{3}\)-\d{3}-\d{4}" placeholder="(123)-456-7890" />

                        <label>Password (4 to 20 characters)</label>
                        <input type="password" class="form-control" name="password" id="password2" pattern=".{4,20}" required />

                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Address (Optional)</label>
                                    <input type="text" class="form-control" name="address" id="address2" placeholder="Enter address" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>City ID (Optional)</label>
                                    <input type="number" class="form-control" name="cityID" id="cityID2" placeholder="Enter city ID" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" class="form-control" name="cartID" id="cartID2" />

                        <div class="row">
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Roles (Optional)</label>
                                    <input type="text" class="form-control" name="roles" id="roles2" placeholder="Enter roles" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div data-mdb-input-init class="form-outline">
                                    <label>Managed Store (Optional)</label>
                                    <input type="number" class="form-control" name="managedStore" id="managedStore2" placeholder="Enter managed store" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="message"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary userUpd" form="form2">Update</button>
                </div>

            </div>
        </div>
    </div>
}

<div class="container mt-4">
    <div class="row">
        <div style="width:20%;">
            <div class="sidemenu__categories">
                <div class="sidemenu__categories__title">
                    <span>Management Panel</span>
                </div>
                <ul>
                    @if (User.IsInRole("A"))
                    {
                        <li><a href="/Panel/Users/">Users</a></li>
                        <li><a href="/Panel/Cities/">Cities</a></li>
                    }
                    <li><a href="/Panel/Stores/">Stores</a></li>
                    <li><a href="/Panel/Categories/">Categories</a></li>
                    <li><a href="/Panel/Products/">Products</a></li>
                    <li><a href="/Panel/Orders/">Orders</a></li>
                    <li><a href="/Panel/Couriers/">Couriers</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <h2>User Details</h2>

            @if (TempData["EmailError"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["EmailError"]
                </div>
            }

            <div>
                <a class="btn btn-success rounded-2" data-bs-toggle="modal" data-bs-target="#addModal"> Add New User </a>
            </div>

            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Email </th>
                            <th> Phone </th>
                            <th> Password </th>
                            <th> Address </th>
                            <th> City </th>
                            <th> Roles </th>
                            <th> Managed Store </th>
                            <th> Delete </th>
                            <th> Update </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Users u in Model)
                        {
                            <tr>
                                <td> @u.id </td>
                                <td> @u.firstName </td>
                                <td> @u.lastName </td>
                                <td> @u.email  </td>
                                <td> @u.phone  </td>
                                <td> @u.password </td>
                                <td> @u.address </td>
                                <td> @if (u.cityID != null) { @u.Cities.name; } </td>
                                <td> @u.roles</td>
                                <td> @if (u.managedStore != null) { @u.Stores.name; } </td>
                                <td> <a class="btn btn-danger delModal" data-uID="@u.id" data-firstname="@u.firstName" data-lastname="@u.lastName" data-email="@u.email" data-phone="@u.phone" data-password="@u.password" data-address="@u.address" data-cityID="@u.cityID" data-cartID="@u.cartID" data-roles="@u.roles" data-managedStore="@u.managedStore" data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete </a> </td>
                                <td> <a class="btn btn-info updUser" data-uID="@u.id" data-firstname="@u.firstName" data-lastname="@u.lastName" data-email="@u.email" data-phone="@u.phone" data-password="@u.password" data-address="@u.address" data-cityID="@u.cityID" data-cartID="@u.cartID" data-roles="@u.roles" data-managedStore="@u.managedStore" data-bs-toggle="modal" data-bs-target="#updateModal"> Update </a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Shared/js/jquery-3.7.1.min.js"></script>
    <script>
        $(".delModal").click(
            function () {
                var id = $(this).attr("data-uID");
                var firstname = $(this).attr("data-firstname");
                var lastname = $(this).attr("data-lastname");
                $(".modal-body > p.message").html("Should the user<strong> " + firstname + " " + lastname + " </strong>with the ID<strong> " + id + " </strong>get deleted?");
                $(".userDel").data("uID", id);
            }
        );

        $(".userDel").click(
            function () {
                var id = $(this).data("uID");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Panel/DeleteUser/" + id,
                        success: function (result) {
                            if (result == "successful") {
                                window.location.replace("/Panel/Users/");
                            }
                            else {
                                $(".modal-body > p.error").html("An error occurred");
                            }
                        }
                    }
                )
            }
        );

        $(".updUser").click(
            function () {
                var id = $(this).attr("data-uID");
                var firstname = $(this).attr("data-firstname");
                var lastname = $(this).attr("data-lastname");
                var email = $(this).attr("data-email");
                var phone = $(this).attr("data-phone");
                var password = $(this).attr("data-password");
                var address = $(this).attr("data-address");
                var cityID = $(this).attr("data-cityID");
                var cartID = $(this).attr("data-cartID");
                var roles = $(this).attr("data-roles");
                var manstore = $(this).attr("data-managedStore");

                $(".modal-body #id").val(id);
                $(".modal-body #firstName2").val(firstname);
                $(".modal-body #lastName2").val(lastname);
                $(".modal-body #email2").val(email);
                $(".modal-body #phone2").val(phone);
                $(".modal-body #password2").val(password);
                $(".modal-body #address2").val(address);
                $(".modal-body #cityID2").val(cityID);
                $(".modal-body #cartID2").val(cartID);
                $(".modal-body #roles2").val(roles);
                $(".modal-body #managedStore2").val(manstore);
            }
        );

        document.addEventListener('DOMContentLoaded', function () {
            const phoneInput = document.getElementById('phone2');

            phoneInput.addEventListener('input', function () {
                let input = phoneInput.value.replace(/\D/g, ''); // Remove non-digit characters
                if (input.length > 6) {
                    input = `(${input.slice(0, 3)})-${input.slice(3, 6)}-${input.slice(6, 10)}`;
                } else if (input.length > 3) {
                    input = `(${input.slice(0, 3)})-${input.slice(3)}`;
                } else if (input.length > 0) {
                    input = `(${input}`;
                }
                phoneInput.value = input;
            });
        });

    </script>
}
